<nav class="navbar navbar-inverse bg-primary">
	<div class="collapse navbar-collapse" id="main-nav">
		<a class="navbar-brand" href="/">Contact Management System</a>
    <ul class="nav navbar-nav navbar-right">
			<li><a href="/register">Sign Up</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Profile</a></li>
			<li id="nav-login"><a href="#">Login</a></li>
    </ul>
	</div>
</nav>
