/* color scheme
	Green: #2e675a
	purple: #672E3B
*/
/* SITE WIDE STYLES ===================================================== */
h1 {
	text-align: center;
}
h2 {
	text-align: center;
}

/* NAVBAR ============================================================== */
.navbar {
	height: 7em;
}
.bg-primary {
	background-color: #672E3B;
	border: 1px solid #672E3B;
	border-radius: 0px;
}
.navbar-brand {
	line-height: 50px; /* vertically center navigation text */
	font-size: 3em;
	font-family: 'Cabin Condensed', sans-serif;
	font-weight: 700;
	color: white !important;
	margin-left: 2em;
}
.navbar-nav li a {
	vertical-align: center;
	line-height: 50px; /* vertically center navigation text */
	color: white !important;
	font-family: 'Cabin Condensed', sans-serif;
	font-size: 2em;
	margin-right: 2em;
}

/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { ... }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { ... }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }
/* INDEX PAGE =========================================================== */

/* CONTACTS PAGE ======================================================== */

/* CONTACT PAGE (individual) ============================================ */
.contact-information-section {
	text-align: center;
}
#contact-picture {
	max-width: 250px;
	max-height: 250px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
